
body { 
  background-color: #FFF0DD; 
}

header {
  background-color: #86B0BD;
  text-align: center; 
  margin: 0; 
  padding: 0; 
}

.header-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  margin: 0; 
  padding: 0;
}

.h-title { 
  color: white; 
  margin: 0; 
  padding: 2px;
}

.h-degree {   
  color: #FFF0DD;
  margin: 0;  
  padding: 2px;
}

.search { 
 margin-bottom: 2px;
 margin-top: 10px;  
}

ul {
  list-style-type: none;
  height: 40px; 
  overflow: hidden;
  background-color: #E2A16F;
  display: flex; 
  margin: 0; 
}

ul li {
  float: center;
  margin-right: 160px; 
}

ul li a {
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  margin-top: 1rem;
}

ul li a:hover {
  background-color: #FFF0DD;
}

.profile-img {
  width: 30vw;
  max-width: 400px;
  min-width: 200px;
  height: auto; 
  display: block; 
  margin: 0 auto; 
  margin-top: 5em; 
  margin-left: 2em; 
}

.nav {
  display: flex;  
  justify-content: center; 
  flex-wrap: wrap;  
  height: auto; 
  align-items: flex-start;
  background-color: #E2A16F;                          
}


.nav-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 2rem;
  list-style: none;
  margin-left: 150px;
  padding: 0.5rem; 
}

h2 { 
  display: flex; 
  flex-wrap: wrap; 
  align-items: center; 
  justify-content: center;  
  margin: 10px; 
}

.speechDisorders { 
  background-color: #f7cbad; 
  display: flex; 
  gap: 40px; 
  justify-content: space-between;  
  border: 2px solid #86B0BD;
  border-radius: 10px;
  margin-top: 10px; 
  text-align: justify; 
}

.left1 { 
  flex: 1; 
}

.right1 { 
  flex: 1; 
  text-align: justify; 
}

.languageDisorders { 
  background-color: #f7cbad; 
  display: flex; 
  gap: 40px;  
  justify-content: space-between; 
  border: 2px solid #86B0BD;
  border-radius: 10px;
  margin-top: 10px;  
}

.left2 { 
  flex: 1; 
  text-align: justify; 
  max-width: 600px; 
}

.right2 { 
  flex: 1; 
  text-align: justify; 
}

.faded {
    position: relative;          
    color: black;                
    padding: 40px;                
    text-align: center;            
    font-size: 2rem;
}

.faded::before {
    content: "";                  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("OIP.jpg") no-repeat center center; 
    background-size: cover;        
    opacity: 0.2;                  
    z-index: -1;                   
}

.quote { 
    position: relative;  
    width: 300px;
    height: 300px;  
    border-radius: 50%;
    overflow: hidden; 
    display: flex;       
    color: black;                
    padding: 50px;                
    align-items: center; 
    justify-content: center;           
    font-size: 2rem;  
    text-align: center;
     margin: 0 auto;
    
}

.quote::before {
    content: "";                  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("connect.jpg") no-repeat center center; 
    background-size: cover;        
    opacity: 0.5;                  
    z-index: -1;    
    align-items: center; 
    justify-content: center;               
}

.summary {
  display: flex;
  flex-direction: row; 
  align-items: flex-start; 
}

.about { 
  display: flex;
  flex-direction: column; 
  margin-left: 20px; 
}

.louise-img { 
 max-width: 300px;  
}

.title { 
  text-align: center;   
  margin-left: 0px; 
  margin-right: 40px; 
}

.layout {
  margin: 0; 
  display: flex;
  width: 100%;
  flex-direction: row-reverse;  
}

h1 { 
  margin-top: 50px; 
}
 
.layout > img { 
  flex: 1.5;                  
  box-sizing: border-box;
  text-align: center;
}

.layout > .education {
  flex: 2;                  
  box-sizing: border-box;
  text-align: center;

}

.york {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.e1 { 
  background-color: #f7cbad;
  width: 100%; 
  height: 100%; 
  text-align: flex-start; 
  flex-direction: column; 
  margin: 0; 
  padding: 0; 
}

.s1, .s2, .s3 { 
  font-style: italic; 
}

.affiliations { 
  text-align: center; 
  margin-top: 50px; 
}

.header-container h1 { 
  text-align: center; 
}

.affiliations h4 { 
  text-decoration: underline;
  margin-top: 10px; 
}

.affiliations a { 
  color: white; 
}

.affiliations p { 
  font-size: 16px; 
}

.link1, .link2, .link3, .link4 {
    position: relative;                                         
    text-align: center;            
    font-size: 2rem;
}

.link1::before, 
.link2::before,
.link3::before,
.link4::before {
    content: "";                  
    position: absolute;
    display: flex; 
    text-align: justify; 
    width: 100%;
    height: 100%;
    background-color: #86B0BD;
    background-size: cover;        
    opacity: 0.5;                  
    z-index: -1;                   
}

table { 
  border-collapse: collpase; 
}

th, tr, td { 
  border: 1px solid white;
  background-color: #f7cbad;
  padding: 20px; 
}

.fees { 
  text-align:center; 
  align-items: center; 
  padding: 20px;
  margin: 0; 
}

p { 
  text-align:center; 
  align-items: center; 
  padding: 20px;
  margin: 0; 
}

.row {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 10px 0;
}

.row table {
  width: 70%;
}

.row h2 {
  width: 30%;
  margin: 0;
}
.right-title1 {
  flex-direction: row;
  text-align: left;
}

.left-title1 {
  flex-direction: row;
  text-align: left;
}

.right-title2 {
  flex-direction: row;
  text-align: left;
}

.left-title2 {
  flex-direction: row;
  text-align: left;
}

.right-title3 {
  flex-direction: row;
  text-align: left;
}

.left-title3 {
  flex-direction: row;
  text-align: left;
}

.contact { 
  text-align: center; 
}

iframe { 
  place-items: center; 
}